.main-img {
  border-top-right-radius: var(--border_rad);
  border-top-left-radius: var(--border_rad);
  flex: 50%;
  background-color: #333333;
  box-shadow: 0px 0px 7px 1px #f0f8ff;
}
/*.main-img>hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}*/
.main-img>img {
  
  margin-top: 4%;
  height: 220px;
}